* {

    font-family: 'Roboto', sans-serif;
    

}


body {
    background-image: linear-gradient(to right, rgb(41, 157, 235) , rgb(238, 235, 235));
}


h1 {
    text-align: center ;
}





.speedcalc{    
    text-align: center;
    padding-top: 7em;
}

input {

    width: 30%;
    padding-top: 1em;

}

#hoursInput {
    transform: translateX(36px);
}

#minutesInput {
    transform: translateX(29px);
}

#secondsInput {
    transform: translateX(27px);
}

button {
    background-color: rgb(235, 51, 76);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    background-color: rgb(124, 27, 40);
    
}
